<launch>
	
	<machine name="gcs" address="baela" default="true"/>
	<machine name="obc" address="halaena" env-loader="~/catkin_ws/devel/env.sh"/>
	
	<node name="gui" type="mrosuam_gui" pkg="mrosuam" machine="gcs" output="screen"/>
	
	<node name="gcs_resource_monitor" type="mrosuam_resource_monitor" pkg="mrosuam" machine="gcs" output="log">
		<param name="comp_name" value="gcs"/>
	</node>
	
	<node name="obc_resource_monitor" type="mrosuam_resource_monitor" pkg="mrosuam" machine="obc" output="log">
		<param name="comp_name" value="obc"/>
	</node>
	
	<node name="mavros" type="mavros_node" pkg="mavros" machine="obc" output="log" respawn="false" clear_params="true" required="true">
		<param name="fcu_url" value="/dev/ttyAMA0:57600"/>
		<param name="fcu_protocol" value="v2.0"/>
		<param name="gcs_url" value=""/>
		<param name="tgt_system" value="1"/>
		<param name="tgt_component" value="1"/>
	</node>
	
	<!--node name="camera" type="raspicam_node" pkg="raspicam_node" machine="obc">
		<param name="private_topics" value="true"/>
		
		<param name="camera_frame_id" value="raspicam"/>
		<param name="enable_raw" value="false"/>
		<param name="enable_imv" value="false"/>
		<param name="camera_id" value="0"/>

		<param name="camera_info_url" value="package://raspicam_node/camera_info/camerav2_410x308.yaml"/>
		<param name="camera_name" value="camerav2_410x308"/>
		<param name="width" value="410"/>
		<param name="height" value="308"/>

		<param name="framerate" value="30"/>
		<param name="exposure_mode" value="antishake"/>
		<param name="shutter_speed" value="0"/>
	</node-->
</launch>